.BookListDiv{
    padding-top: 100px;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
}
.BookListDiv ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.CardImg{
    width:95% !important;
     height:70%;
     margin:auto;
     margin-top:2.5%;
}
  
.BookCard:hover{
    transform: scale(1.05); /* Increase the scale of the image */
    transition: transform 0.15s; /* Add a transition effect */
    
}

.CardBtns{
display: flex;
flex-direction: row;
width: 100%;
}

